/* global view */
body {
  font-family: "Asap", sans-serif;
  background-color: #ebebeb;
  color: white;
}
.header-container {
  background-color: #686767;
  min-height: 100px;
  margin-bottom: 40px;
  position: fixed;
  width: 100%;
}
header {
  max-width: 1024px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; /* Distribute space between logo and nav */
  align-items: center;
}

.logo span {
  font-weight: bold;
}
nav button {
  margin: 7px;
  padding: 10px 25px;
  background-color: #686767;
  border-color: white;
  color: white;
  border-style: solid;
  border-width: 1px;
}

.container {
  min-height: 500px;
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 150px;
}
.col {
  width: 30%;
  margin-bottom: 40px;
  background-color: rgb(79, 224, 181);
}
.hide-desktop-only {
  display: none;
}
.col p {
  font-size: 0.875rem;
  color: white;
  padding: 20px 25px;
  line-height: 1.25rem;
}
.col img {
  width: 100%;
  height: auto;
}

.col p::first-line {
  font-weight: bold;
}

.mob-wrapper {
  display: none;
}
/* Tablet view */
@media (max-width: 768px) {
  .col {
    width: 45%;
  }
  .hide-desktop-only {
    display: block;
  }
  header {
    display: block;
    text-align: center;
  }
  nav button {
    display: none;
    width: 97%;
    padding: 0 25px;
  }

  .logo {
    padding: 40px 0;
  }
  .header-container {
    position: relative;
  }
  .container {
    padding-top: 20px;
  }
  .mob-wrapper {
    display: block;
  }
  .mob-nav {
    display: none;
  }
}
/* mobile view */
@media (max-width: 480px) {
  .col {
    width: 100%;
  }
  .hide-moble {
    display: none;
  }
}
